.vscode
__pycache__
bvlc_alexnet.npy
gputesting.py
.DS_Store
alexnet.py
datagenerator.py
CORRECTCLASSIFIED/
MISCLASSIFIED/
TestingResults/
checkpoint_Other/
checkpoint/
tensorboard
generatePath_list.py
caffe_classes.py
*.txt